[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
wandb = "*"
pytorch-lightning = "==1.0.4"
rouge-score = "*"
sacrebleu = "*"
fsspec = "*"
filelock = "*"
transformers = "==3.5.1"
fire = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
torch = {version = "==1.10.1+cu111", index = "downloadpytorch"}
streamlit = "*"
elasticsearch = "*"
seqeval = "*"
tensorboard = "*"
tensorboardX = "*"
gensim = "*"
faiss-cpu = "*"
fairseq ="*"
psutil = "*"
nlp = "*"
pyrouge = "*"
torchaudio = "==0.10.1"
setuptools = "==59.5.0"
datasets = "*"
py7zr = "*"
command = "*"

[dev-packages]

[requires]
python_version = "3.7"
