[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
jupyter = "*"
jupyterlab = "*"
pandas = "*"
scikit-learn = "*"
wandb = "*"
transformers = "*"
pytorch-lightning = "*"
rouge-score = "*"
torch = {version = "==1.10.1+cpu", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.6"
